@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">BrigadeiroApp</a>

        <AuthorizeView>
            <Authorized>
                <span class="nav-link" style="margin: auto; color: white">Olá, @context.User.Identity?.Name</span>
            </Authorized>
        </AuthorizeView>
    </div>
</div>


<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <!-- Mostra "Login" só para quem NÃO está autenticado -->
        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Identity/Account/Login">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <!-- Marcos e Gabi veem -->
        <AuthorizeView Roles="Marcos,Gabi">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/newOrder">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Nova Ordem
                </NavLink>
            </div>
        </AuthorizeView>

        <!-- Só Gabi vê -->
        <AuthorizeView Roles="Gabi">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/orderHandling">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Pedidos
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="Gabi, Marcos">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/logout">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Sair
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>
